.form-container {
  width: 70%;
  margin: 3vh 15% 5vh 15%;
  padding-bottom: 9vh;
  padding-top: 3vh;
  background: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
}

.form-fields {
  margin-top: 3vh;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
}

.additional-form-fields {
  margin-top: 3vh;
  padding-top: 3vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: .1vh solid #457b9d;
}

.form-titles {
  margin-top: 5vh;
  margin-left: 20%;
  font-size: 4vh;
}

input {
  width: 100%;
  font-family: inherit;
  font-size: 3vh;
  padding-left: 0.3vw;
  margin-top: 1vh;
  border-radius: .5vh;
  border: .4vh solid rgb(200, 200, 200);
}

textarea {
  width: 100%;
  margin-top: 1vh;
  font-family: inherit;
  font-size: 3vh;
  border: .4vh solid rgb(200, 200, 200);
  border-radius: .5vh;
  padding: 2vh auto auto 2vw;
  resize: none;
}

.textarea-title {
  font-size: 3vh;
  margin-top: 3vh;
  margin-left: .3vw;
}

.time-of-concurrence {
  margin: 4.5vh auto 1.5vh .4vw;
  font-size: 3vh;
}

.ongoing-switch-container {
  position: relative;
  margin-top: .7vh;
}

.switch-ongoing-checkbox {
  width: 3%;
  position: absolute;
  left: 16%;
  top: 21%;
}

.ongoing-text {
  font-size: 2.6vh;
  font-weight: 600;
  margin: 1vh auto auto 1.5%;
}

button {
  margin-top: 3vh;
}

.new-skill-button {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 2.6vh;
  font-weight: 600;
  background: #457b9d;
  color: rgb(230, 230, 230);
  padding: 1vh 1vw 1vh 1vw;
  border-radius: 0.5vh;
}

.new-skill-button:hover {
  cursor: pointer;
  background: #456b9d;
}

.new-skill-button:active {
  transform: scale(0.99);
}

.new-education-form-button {
  font-size: 2.6vh;
  outline: none;
  font-family: inherit;
  border: none;
  font-weight: 600;
  background: #457b9d;
  color: rgb(230, 230, 230);
  padding: 1vh 1vw 1vh 1vw;
  border-radius: 0.5vh;
}

.new-education-form-button:hover {
  cursor: pointer;
  background: #456b9d;
}

.new-education-form-button:active {
  transform: scale(0.99);
}
