.form-container {
  width: 90vw;
  margin: 3vh 5vw 5vh 5vw;
}

.form-fields {
  margin-top: 5vh;
}

input {
  width: 40vw;
  font-family: inherit;
  font-size: 3vh;
  outline: none;
  padding-left: 0.3vw;
  margin-top: 1vh;
}

textarea {
  margin-top: 1vh;
  font-family: inherit;
  font-size: 2.5vh;
  padding: 2vh auto auto 2vw;
  resize: none;
}

.new-skill-button {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 2.6vh;
  font-weight: 600;
  background: #457b9d;
  color: rgb(230, 230, 230);
  padding: 1vh 1vw 1vh 1vw;
  border-radius: 0.5vh;
}

.new-skill-button:hover {
  cursor: pointer;
  background: #456b9d;
}

.new-skill-button:active {
  transform: scale(0.99);
}

.new-education-form-button {
  font-size: 2.6vh;
  outline: none;
  font-family: inherit;
  border: none;
  font-weight: 600;
  background: #457b9d;
  color: rgb(230, 230, 230);
  padding: 1vh 1vw 1vh 1vw;
  border-radius: 0.5vh;
}

.new-education-form-button:hover {
  cursor: pointer;
  background: #456b9d;
}

.new-education-form-button:active {
  transform: scale(0.99);
}


