.preview-container {
  width: 70%;
  height: 140vh;
  margin: 10vh 15% 10vh 15%;
  background: rgb(230, 230, 230);
  display: flex;
  color: rgb(40, 40, 40);
}

.sidebar {
  height: 100%;
  width: 27%;
  background: #457b9d;
  color: rgb(230, 230, 230);
}

.name {
  font-size: 5vh;
  margin-left: 1.7vw;
}

.sidebar p {
  font-size: 2.6vh;
  margin-left: 1.7vw;
}

.sidebar h3 {
  font-size: 2.6vh;
  margin: 1.7vh 5vw 1vh 0.7vw;
  border-bottom: 0.2vh solid rgb(230, 230, 230);
}

.personal-info {
  margin: 5vh auto auto;
  border-bottom: 0.4vh solid rgb(230, 230, 230);
  padding-bottom: 4vh;
}

.about {
  margin-top: 3vh;
  padding-bottom: 4vh;
  border-bottom: 0.4vh solid rgb(230, 230, 230);
}

.about h2 {
  font-size: 3.5vh;
  margin: auto 5vw 2vh 0.7vw;
  border-bottom: 0.1vh solid rgb(230, 230, 230);
}

.about p {
  margin-left: 1.1vw;
  margin-right: 0.7vw;
}

.skills {
  margin-left: 0.7vw;
  margin-top: 3vh;
}

.skills h2 {
  font-size: 3.5vh;
  margin: auto 5vw auto auto;
  border-bottom: 0.1vh solid rgb(230, 230, 230);
}

.skills ul {
  margin-top: 1.5vh;
  margin-left: 1.7vw;
}

.skills li {
  font-size: 2.6vh;
  margin-top: 0.5vh;
}

.main-content {
  width: 73%;
}

.why-fit {
  margin: 6vh 7% 1vh 7%;
}

.why-fit h2 {
  margin-bottom: 1vh;
}

.education-experience-container {
  width: 100%;
  display: flex;
}

.education {
  margin: 5vh 7% auto 7%;
}

.additional-education {
  border-top: .5vh solid #456b9d;
  margin-top: 3vh;
  padding-top: 3vh;
}

.experience {
  margin: 5vh 7% auto 7%;
}

.additional-experience {
  border-top: .5vh solid #456b9d;
  margin-top: 3vh;
  padding-top: 3vh;
}

.title {
  font-size: 4vh;
  margin-bottom: 3vh;
}

.subText {
  font-size: 2.6vh;
  margin-left: 1.5%;
}
